<div class="container">
    <form action="/edit" method="POST">
        <textarea name="JSON" id="" cols="70" rows="70" class="u-full-width">
            {{data}}
        </textarea>
        <input class="button-primary" type="submit" value="Submit">
    </form>
</div>