<!DOCTYPE html>
<html>
  <head>
    <title>Link Share</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <style>
      body { padding: 50px; }
    </style>
  </head>
  <body>
    <div class="container">
        <form id="add-url">
            <div class="row">
                <div class="nine columns">
                    <label for="url"></label>
                    <input type="url" id="url" class="u-full-width" placeholder="Enter URL">
                </div>

                <div class="three columns">
                    <label for="group"></label>
                    <input type="text" id="group" class="u-full-width" placeholder="Enter Group ID">
                </div>
            </div>

            <input class="button-primary" type="submit" value="Submit">
        </form>

        <div id="urls"></div>
    </div>

    <script src="/assests/js/index.js"></script>
  </body>
</html>
